<wicket:panel>
	<div class="header">
		<a href="#" wicket:id="homeURL"><img class="logo"/></a>
		<span class="header_menu">
			<wicket:link>
				<a href="#" wicket:id="login"><img wicket:id="loginImg"/></a>
			</wicket:link>
			<label wicket:id="logoutLabel"/>
			<wicket:link>
				<a href="#" wicket:id="logout">Logout</a>
			</wicket:link>
			<br />
			<label wicket:id="needsApiLabel"/>
			<wicket:link>
				<a href="#" wicket:id="needsApi">Get Api</a>
			</wicket:link>
		</span>
	</div>
</wicket:panel>