<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>


	<Resource name="jdbc/crestj" auth="Container" type="javax.sql.DataSource"
          username="CHANGEME"
          password="CHANGEME"
          driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://localhost:5432/esdeyaml"
          maxTotal="60"
          maxIdle="20"
          validationQuery="select 1" />		  

	<Resource name="jdbc/crestj" auth="Container" type="javax.sql.DataSource"
		maxTotal="100" maxIdle="30" maxWaitMillis="10000" username="CHANGEME"
		password="CHANGEME" driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://DB-URL:3306/DB-NAME?characterEncoding=UTF-8"/>
</Context>
